html {
    font-family: sans-serif;
    color: #333;
}
.main {
    width: fit-content;
    margin: 0 auto;
}
header {
    height: fit-content;
}
.title {
    display: flex;
    justify-content: flex-start;
    margin: 30px auto 0;
    padding: 0 15px 0;
    max-width: 900px;
    height: fit-content;
}
.title h1 {
    margin: 0;
    font-size: 32px;
}
.title h1 span {
    display: inline-block;
}
.title .about {
    margin: 0;
    margin-top: auto;
    margin-left: auto;
}
.filter {
    position: sticky;
    top: 0;
    width: 100vw;
    height: fit-content;
    margin: 0 auto;
    background: #fff;
    border-bottom: solid 1px #ccc;
}

.filter-title-check {
    display: none;
}
.filter-title-label {
    display: block;
    margin: 0 auto;
    padding: 15px 15px 5px;
    max-width: 900px;
}
.filter-title-check + .filter-title-label + .filter-contents {
    height: fit-content;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}
.filter-title-check:checked + .filter-title-label + .filter-contents {
    max-height: 150px;
    opacity: 1;
    visibility: visible;
}
.filter-title-label:before {
    content: "";
    display: inline-block;
    margin-right: 12px;
    width: 12px;
    height: 12px;
    border-bottom: 3px solid #46d;
    border-right: 3px solid #46d;
    transform-origin: 70% 70%;
    transform: rotate3d(0, 0, 1, 45deg);
    transition: .3s;
}
.filter-title-check:checked + .filter-title-label:before {
    transform: rotate3d(1, -0.41421356, 0, 180deg);
}

.filter-contents {
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    margin: auto;
    padding: 5px 10px;
}
.filter-group {
    display: flex;
    flex-grow: 1;
}
.check-button-group {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    margin: 4px;
}
.check-button-group .item {
    display: flex;
    flex-grow: 1;
}
.check-button-group .check-button {
    display: none;
}
.check-button-group .check-button + label {
    flex-grow: 1;
    display: block;
    margin: 0 -0.5px;
    padding: 8px 12px;
    text-align: center;
    color: #888;
    background: transparent;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.check-button-group .check-button:checked + label {
    color: #fff;
    background: #46e;
    border: 1px solid #ccc;
}
.check-button-group label:hover {
    background: #eee;
}
.check-button-group .item:first-of-type .check-button + label {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.check-button-group .item:last-of-type .check-button + label {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
table {
    border-collapse: collapse;
    text-align: center;
}
th, td {
    padding: 10px 5px;
}
th {
    border-bottom: solid 1px #ccc;
}
td {
    border-bottom: solid 1px #ccc;
}
.header-name, .servant-name {
    text-align: left;
    padding-left: 5vw;
}
.header-time {
    padding-left: 0;
    padding-right: 5vw;
    text-align: right;
}
.servant-time {
    padding-left: 0;
    padding-right: 5vw;
    text-align: right;
}

